@import '../../node_modules/primereact/resources/themes/nova/theme.css';
@import '../../node_modules/primereact/resources/primereact.min.css';
@import '../../node_modules/primeicons/primeicons.css';

$primary-color: darkblue;
$background-color: rgba(100, 100, 100, .7);

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
    align-items: center;
    background-color: $background-color;

    display: flex;
    justify-content: center;
}


.hide-popup {
    display: none;
}